<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://static.wikia.nocookie.net/suitelife/images/6/65/Moseby.jpg/revision/latest/scale-to-width-down/293?cb=20151126073233">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        
        <title>Styled Submit Button</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #3498db; /* Blue */
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #2980b9; /* Darker blue on hover */
    }
  </style>
</head>
<body>

<button type="submit">Submit</button>

</body>
</html>


</body>
</html>
