<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <img src="https://cdn.discordapp.com/attachments/1070413046197014629/1178760620074598522/Screenshot_20231127_181240_com.snapchat.android.jpg?ex=65775160&is=6564dc60&hm=5b4a8f55fc2e121008dd91ad9616479d8e0073d0d10f396711517a9bae0c7dd5&">
    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="Submit" id="greet"
    </form>
</body>
</html>
